/*-------------------GLOBALS------------*/
*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
    text-decoration: none;

}


/*-------------------MAIN MENU------------*/

/*-------------------BOOK BUTTON------------*/

/*-------------------SOME INFO------------*/

/*-------------------CAR'S CARD------------*/
.auto{
    height:150px;
}
.cardSize{
    width: 18rem !important;
}
/*-------------------TRIP PRICES CARDS------------*/
/*-------------------testimonials------------*/
.slideImage{
    background-image: url(../img/losCabos.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height:35rem;
    z-index: -2;
}
/*-------------------FOOTER------------*/
.logoSize{
    width: 180px !important;
    height: 140px !important;
}