/*-------------------GLOBALS------------*/
*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
    text-decoration: none;
   
   
    
   
}


/*-------------------MAIN MENU------------*/



/*-------------------BOOK BUTTON------------*/

/*-------------------SOME INFO------------*/

/*-------------------CAR'S CARD------------*/

/*-------------------TRIP PRICES CARDS------------*/
.contactContainer{
    background-image: url(img/losCabos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    
}